*{
    box-sizing: border-box;
}

.main-center{
    max-width: 700px;
    text-align: center;
    margin: 20px auto  0  auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.main-center h3{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(67, 129, 129);
    font-weight: bold;
}

.main-center table th{
    font-weight: bold;
    font-size: 1.2rem;
}

.input-box input, button{
    margin-bottom: 8px;
}

.input-box button{
    margin-top: 1rem;
    font-size: larger;
}

/*adicionado pelo ng-class */
.selecionado{
    background: yellow;
}

.negrito{
    color:#000;
    font-weight: bold;
}

.basicos{
    width: 50px;
    height: 50px;
    margin: auto;
    background: coral;
    border-radius: 50%;
}