<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista Telefonica | MyContacts </title>

    <link rel="stylesheet" href="./css/style.css">
    <script src="./lib/angular.js"></script>
    <script src="./lib/angular-messages.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">


    <script>
        const app = angular.module("listaTelefonica", ["ngMessages"]);
        app.controller("listaT",
            function ($scope) {

                $scope.info = " Lista Telefonica ";
                
                $scope.contatos = [
                    {
                        nome: "Adilson", telefone: "932392875", cor: "cyan", data: new Date(),
                        operadora: { codigo: "93", nome: "Unitel", categoria: "Celular" }
                    },
                    {
                        nome: "Mario", telefone: "912346712", cor: "purple", data: new Date(),
                        operadora: { codigo: "91", nome: "Movicel", categoria: "Celular" }
                    },
                    {
                        nome: "Erica", telefone: "222459000", cor: "oragen",data: new Date(),
                        operadora: { codigo: "222", nome: "AngolaTelecom", categoria: "Fixa" }
                    },
                    {
                        nome: "Hilquias", telefone: "934213312", cor: "teal", data: new Date(),
                        operadora: { codigo: "93", nome: "Unitel", categoria: "Celular" }
                    },
                    {
                        nome: "Filomena", telefone: "222090807", cor: "red", data: new Date(),
                        operadora: { codigo: "222", nome: "AngolaTelecom", categoria: "Fixa" }
                    }
                ];

                $scope.operadoras = [
                    { codigo: "93", nome: "Unitel", categoria: "Celular", preco:7},
                    { codigo: "91", nome: "Movicel", categoria: "Celular",preco:10 },
                    { codigo: "222", nome: "AngolaTelecom", categoria: "Fixa",preco:4 }
                ];

                $scope.adicionarcontato = function (contato) {
                    const cp = angular.copy(contato);
                    $scope.contatos.push(cp);
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                };

                $scope.ApagarContatos = function (contatos) {
                    $scope.contatos = contatos.filter(function (contato) {
                        if (!contato.selecionado) return contato;
                    });
                };

                $scope.iscontatoSel = function (contatos) {
                    return contatos.some(function (contato) {
                        return contato.selecionado;
                    });
                };

                $scope.ordenarPor=function (campo){
                    $scope.VALOR_PARA_ORDENAR=campo; 
                    $scope.SentidoOrdenar=!$scope.SentidoOrdenar;
                }

                $scope.add_classe_cor = "selecionado";
                $scope.add_classe_negrito = "negrito";
                $scope.falha1 = "Por favor Preencher o Nome";
                $scope.falha2 = "Preencher devidamente com ate 10 Letras";
                $scope.falha3 = "Por favor Preencher o Telefone";
                $scope.falha4 = " Preencher o Telefone assim DDDXXXNNN ou 244DDDXXXNNN";


            });


    </script>
</head>

<body ng-controller="listaT">

    <div class="main-center jumbotron">

        <h3>{{info+' Jupiter Academy'}}</h3>

        <input id="procurarInfo" type="text" name="search" ng-model="criteriodeBusca"
         placeholder="Search.." class="form-control">

        <!-- table-stripe retirar para poder selecionar todos amarelos -->
        <table class="table table-striped" ng-show="contatos.length > 0 ">
            <tr>
                <th>Ativador</th>
                <th> <a href="" ng-click="ordenarPor('nome')">Nome</a> </th>
                <th> <a href="" ng-click="ordenarPor('telefone')">Telefone</a> </th>
                <th> <a href="" ng-click="ordenarPor('operadora')">Operadora</a> </th>
                <th>Cor Favorita</th>
                <th>Data</th>
            </tr>
            <!--ng-class="[add_classe_cor,add_classe_negrito]" 
                 ng-repeat="cnt in contatos | filter: {nome:criteriodeBusca}  -->
            <tr ng-class="{'selecionado negrito': cnt.selecionado }"
             ng-repeat="cnt in contatos | filter: criteriodeBusca | orderBy:VALOR_PARA_ORDENAR:SentidoOrdenar">
                <td> <input type="checkbox" ng-model="cnt.selecionado" /> </td>
                <td>{{cnt.nome}}</td>
                <td>{{cnt.telefone}}</td>
                <td>{{cnt.operadora.nome}}</td>
                <td>
                    <div class="basicos" ng-style="{'background-color' : cnt.cor}"></div>
                </td>
                <td>{{cnt.data | date:'dd/MM/yyyy HH:MM' }}</td>
            </tr>
        </table>
        <hr>

        <div class="input-box">

            <form action="" name="contatoForm">
                <input type="text" ng-model="contato.nome" name="nomeInp" placeholder="Digite Nome" class="form-control"
                    ng-required="true" ng-minlength="10">
                <input type="text" ng-model="contato.telefone" name="telefoneInp" placeholder="Digite Telefone"
                    class="form-control" ng-required="true" ng-pattern="/^\d{9,12}$/">

                <select ng-model="contato.operadora" class="form-control"
                    ng-options="opera.nome +' (' + (opera.preco | currency) + ')'  group by opera.categoria  for opera in operadoras | orderBy: 'nome' " id="">
                    <option value="">Selecione a Operadora</option>
                </select>
            </form>

            <br>

            <div ng-messages="contatoForm.nomeInp.$error " class="alert alert-danger">
                <div ng-message="required && $dirty">
                    {{falha1 | uppercase }}
                </div>
                <div ng-message="minlength && $dirty">
                    {{falha2 | lowercase }}
                </div>
            </div>


            <div ng-show="contatoForm.telefoneInp.$error.required && 
                contatoForm.telefoneInp.$dirty" class="alert alert-danger">
                {{falha3}}
            </div>

            <div ng-show="contatoForm.telefoneInp.$error.pattern" class="alert alert-danger">
                {{falha4}}
            </div>



            <button ng-click="adicionarcontato(contato)" ng-disabled="contatoForm.$invalid"
                class="btn btn-primary btn-block"> Adicionar Contacto</button>

            <button ng-click="ApagarContatos(contatos)" ng-if="iscontatoSel(contatos)" class="btn btn-danger btn-block">
                Eliminar Contacto</button>
        </div>
        <!-- adicionando elemento externo ng-include -->
        <div ng-include=" 'footer.html' "></div>

    </div>
    <!--  incluir ficheiro adicional -->
    <script src="./javascript/main.js"></script>
</body>

</html>








<!--
         <h1 ng-bind="info"></h1>  
            <tr ng-repeat="cnt in contatos">
                <td ng-repeat="(key,value) in cnt" >
                        {{value}}
                </td>
            </tr>

                <label for="">{{nome}}</label>
        <label for=""> {{telefone}}</label> 

              
                <div class="alert alert-danger" ng-show="contatoForm.$invalid">
                    Por favor Preencher os Nome e Telefone  
                </div>
                    //ng-disabled="!contato.nome || !contato.telefone"

                    //  /^\d{9,13}$/  932392875    

        // usando no controler para seleciona um contato pela check e listar eles 
          $scope.ApagarContatos=function(contatos){
                    const selContato=contatos.filter(function (contato){
                        if(contato.selecionado)  return contato;
                   });
                   console.log(selContato);
                };
            -->